{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">Exchange</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static 'img/hero-2.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <!-- create_wallet.html -->
<h2>Create Your Wallet</h2>
<form method="POST">
    {% csrf_token %}
    <input type="password" name="wallet_password" placeholder="Enter wallet password" required />
    <button type="submit">Create Wallet</button>
</form>


    <!-- About End -->

{% endblock %}